.container {
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 0px;
  padding-bottom: 0px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Adjust as needed */
  background-color: #c7e0ee; /* Add a background color for separation */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Add margin to create space at the bottom */
}

.select .SelectOptions {
  width: 100%; /* Default width */
}

.plot {
  flex-grow: 1; /* Allow .plot to grow and take available vertical space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7e0ee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 400px; /* Set a minimum height for the plot */
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Use a single column on smaller screens */
    gap: 10px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
  }

  .select {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the left */
    padding: 10px; /* Adjust as needed */
    gap: 10px;
    margin-bottom: 10px; /* Add margin to create space at the bottom */
  }
}
