.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add a background shadow to the container */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.x-axis {
  font-size: 1.5vh;
}

.y-axis {
  font-size: 1.5vh;
}
